<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>product list</h1>

    <ul>
        {% for product in products %}
            <li>{{ product.name }} - ₱{{ product.price }}</li>
        {% endfor %}
    </ul>

    <h2>all products</h2>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - ₱{{ product.price }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_product' %}">add a new product</a>

    <h2>Recommendations</h2>
    <ul>
        {% for product in recommendations %}
            <li>{{ product.name }} - ₱{{ product.price }}</li>
        {% endfor %}
    </ul>
</body>
</html>